#content .sib-link.sib-register-link {
    align-self: center;
    font-size: 1.6rem;
    font-weight: bold;

}

#content .sib-login-forms form .connection-btn {
    width: 100%;
}

.other-login-title {
    border-bottom:1px solid var(--title-bottom);
    color: var(--title-color);
    display:inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1.3em;
    padding-bottom: 0.7em;
}

@media (min-width: 992px) {

    #content .sib-login-forms>div:last-child {
        margin-top: 45px;
    }

    #content .sib-login-forms form .connection-btn {
        margin: 2em 0;
        width: auto;
    }
}
