.faceted-select-item-disabled {
  color: gray;
}

.faceted-zero-count-hidden .faceted-select-group-disabled {
  display: none;
}

.faceted-zero-count-hidden .faceted-select-item-disabled {
  display: none;
}

.faceted-taxonomy_select-widget label.select-field {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#content .faceted-taxonomy_select-widget optgroup { padding-left: 0; }
#content .faceted-taxonomy_select-widget option.taxonomy-level-1 { padding-left: 0em; }
#content .faceted-taxonomy_select-widget option.taxonomy-level-2 { padding-left: 1em; }
#content .faceted-taxonomy_select-widget option.taxonomy-level-3 { padding-left: 2em; }
#content .faceted-taxonomy_select-widget option.taxonomy-level-4 { padding-left: 3em; }
#content .faceted-taxonomy_select-widget option.taxonomy-level-5 { padding-left: 4em; }
#content .faceted-taxonomy_select-widget option.taxonomy-level-6 { padding-left: 5em; }

#content .faceted-taxonomy_select-widget option.taxonomy-meta-level-1 { padding-left: 1em; }
#content .faceted-taxonomy_select-widget option.taxonomy-meta-level-2 { padding-left: 2em; }
#content .faceted-taxonomy_select-widget option.taxonomy-meta-level-3 { padding-left: 3em; }
#content .faceted-taxonomy_select-widget option.taxonomy-meta-level-4 { padding-left: 4em; }
#content .faceted-taxonomy_select-widget option.taxonomy-meta-level-5 { padding-left: 5em; }

#content .faceted-taxonomy_select-widget optgroup.group-level-1 { padding-left: 0em; }
#content .faceted-taxonomy_select-widget optgroup.group-level-2 { padding-left: 1em; }
#content .faceted-taxonomy_select-widget optgroup.group-level-3 { padding-left: 2em; }
#content .faceted-taxonomy_select-widget optgroup.group-level-4 { padding-left: 3em; }
#content .faceted-taxonomy_select-widget optgroup.group-level-5 { padding-left: 4em; }
#content .faceted-taxonomy_select-widget optgroup.group-level-6 { padding-left: 5em; }

#content .faceted-taxonomy_select-widget option.meta {
    font-weight: bold;
}
