.faceted-taxonomy_select2-widget label.select-field {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

div.faceted-select2-container {
    min-width: 100px;
}

div.faceted-select2 ul li div.select2-result-label { padding-left: 0; }

div.faceted-select2 ul li.taxonomy-level-1 { padding-left: 0em; }
div.faceted-select2 ul li.taxonomy-level-2 { padding-left: 1em; }
div.faceted-select2 ul li.taxonomy-level-3 { padding-left: 2em; }
div.faceted-select2 ul li.taxonomy-level-4 { padding-left: 3em; }
div.faceted-select2 ul li.taxonomy-level-5 { padding-left: 4em; }
div.faceted-select2 ul li.taxonomy-level-6 { padding-left: 5em; }

div.faceted-select2 ul li.group-level-1 > div { padding-left: 0em; }
div.faceted-select2 ul li.group-level-2 > div { padding-left: 1em; }
div.faceted-select2 ul li.group-level-3 > div { padding-left: 2em; }
div.faceted-select2 ul li.group-level-4 > div { padding-left: 3em; }
div.faceted-select2 ul li.group-level-5 > div { padding-left: 4em; }
div.faceted-select2 ul li.group-level-6 > div { padding-left: 5em; }

div.faceted-select2 ul li.meta div {
    font-weight: bold;
    padding-left: 1em;
}

div.faceted-select2 ul li.taxonomy-group > div {
    color: #999;
}

div.faceted-select2 ul li.faceted-select-group-disabled,
div.faceted-select2 ul li.faceted-select-item-disabled {
    display: none;
}
