@charset "UTF-8";

div.cell.shown-because-admin {
	opacity: 0.5;
	background-image: repeating-linear-gradient(-45deg, #eee 0px, #eee 14px, transparent 15px, transparent 30px);
	&:hover {
		opacity: 1;
		background-image: inherit;
	}
}

div#portal-agent-content, aside#sidebar {
	div.searchcell {
		font-size: 110%;
	}
	div.cell {
		background: white;
		padding: 1rem;
		margin-bottom: 1rem;
		border-radius: $cell-border-radius;
		&.transparent, &.pk-transparent {
			background: transparent;
		}
		&.highlight, &.pk-highlight {
			background: linear-gradient(to right, $primary-color 30%, $secondary-color 100%);
			color: white;
			h2, a {
				color: white;
			}
		}
		&.no-bottom-margin {
			margin-bottom: 0;
			border-radius: $cell-border-radius $cell-border-radius 0 0;
			border-bottom: 0;
			p:last-child {
				margin-bottom: 0;
				padding-bottom: 1ex;
			}
			+ div {
				margin-top: 0;
				border-radius: 0 0 $cell-border-radius $cell-border-radius;
				border-top: 0;
				&.no-bottom-margin {
					border-radius: 0;
				}
				p:first-child {
					margin-top: 0;
					padding-top: 1ex;
				}
			}
		}
		a.pk-button, a.pk-big-button {
			@extend %button;
		}
		a.pk-big-button {
			padding: 2rem 4rem;
		}
		&.pk-button, &.pk-big-button {  // when used on link cells
			padding: 0;
			a {
				@extend %button;
				text-align: center;
				display: block;
			}
			&.pk-big-button a {
				padding: 2rem 4rem;
			}
		}
	}
}

aside#sidebar {
	div.cell {
		background: white;
		padding: 0 1rem;
		margin-top: 1rem;
	}
}

div.combo-search-results {
	a.nolink {
		color: $font-color;
		border-bottom-color: transparent;
	}
}
