@charset "UTF-8";

$actions: add, duplicate, edit, remove;

#sidebar div#sticky-sidebar {
	width: calc(100% - 2rem);
}

div#side { // w.c.s. steps in backoffice submission
	background: white;
	padding: 0.5rem;
	border-radius: 3px 3px 0 0;
	margin-bottom: 1rem;
	& + form {
		background: white;
		padding: 0.5rem;
		border-radius: 0 0 3px 3px;
	}
	#steps ol {
		background: transparent;
		span.label {
			margin-left: 0.5rem;
		}
		.current span.marker {
			background: $primary-color;
			border-color: darken($primary-color, 20%);
		}
	}
}

#main ul#fields-list li {
	padding-top: 6px;
}

#main ul.biglist li p.commands span {
	padding: 0;
	box-shadow: none;
	border: none;
	a {
		@extend %button;
		font-weight: normal;
	}
	&.view {
		margin-top: 2px;
	}
	&.remove, &.add, &.edit, &.duplicate {
		padding: 0;
		border: 0;
		background: transparent;
		box-shadow: none;
		a {
			border: none;
			padding: 6px;
			display: inline-block;
			text-indent: -10000px;
			overflow: hidden;
			width: 30px;
		}
	}
	@each $action in $actions {
		&.#{$action} a {
			background: url(icons/action-#{$action}.small.#{$string-color}.png) center center no-repeat;
			background-size: 20px;
			background-image: url(icons/action-#{$action}.small.#{$string-color}.png),
					  url(icons/action-#{$action}.hover.png);
			&:hover {
				background-image: url(icons/action-#{$action}.hover.png);
			}
		}
	}
}

div.form-validation form div.page {
	border: none;
}

div.workflow-messages > div,
div.workflow-messages > p {
	background: white;
	margin: 1ex 0;
	padding: 1ex;
}

div.buttons > div.widget {
	margin-right: 1rem;
}
