.sib-registration-btn {
    width: 100% !important;
    margin: 2em 0 0 0 !important;
}

.errorlist {
    color: var(--error-color);
    list-style: none;
}

.register-form label {
    margin-top: 1em;
}

.register-form br {
    display: none;
}
