.allianceauth-opcalendar {
    padding-top: 12px;
}

.allianceauth-opcalendar h5 {
  padding-left: 14px;
}

.allianceauth-opcalendar .calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
    table-layout: fixed;
  }

.allianceauth-opcalendar .nostyling{
  text-decoration: none !important;
}

.allianceauth-opcalendar .btn {
    outline: none;
    color: black;
    /* background-color: transparent; */
    box-shadow: 0 0 0 0;
    margin-right:3px;
}

.allianceauth-opcalendar .event{
  background-image: none;
  border-radius: 0;
  background: #eeeeee;
  border: none;
  color: black;
  font-size: .75em;
  padding: 0 .75em;
  line-height: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1px;
  position: relative;
}

.allianceauth-opcalendar .public-event:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 15px 15px 0;
    border-color: transparent #9C27B0 transparent transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.allianceauth-opcalendar .import-event:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 15px 15px 0;
    border-color: transparent #607D8B transparent transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.allianceauth-opcalendar .member-event:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 15px 15px 0;
    border-color: transparent #50a5f1 transparent transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.allianceauth-opcalendar .event.purple{
  border-left: 6px solid #9C27B0;
}

.allianceauth-opcalendar .event.green{
  border-left: 6px solid #8BC34A;
}

.allianceauth-opcalendar .event.orange{
  border-left: 6px solid #ff9800;
}

.allianceauth-opcalendar .event.yellow{
  border-left: 6px solid #FFEB3B;
}

.allianceauth-opcalendar .event.blue{
   border-left: 6px solid #50a5f1;
}

.allianceauth-opcalendar .event.red{
  border-left: 6px solid #b71c1c;
}

.allianceauth-opcalendar .event.grey{
  border-left: 6px solid #607D8B;
}

.allianceauth-opcalendar .event.black{
  border-left: 6px solid #000000;
}

.allianceauth-opcalendar .event.past-event{
    opacity: 0.4;
}

.allianceauth-opcalendar td.today {
    color: #50a5f1;
    font-weight: bold;
}
.allianceauth-opcalendar .calendar tr, .calendar td {
  border: 1px solid #32394e;
}

.allianceauth-opcalendar .calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  width: 15%;
}

.allianceauth-opcalendar .calendar td {
  height: 110px;
  vertical-align:top;
  width: 15%;
  padding: 0px 5px 0px 5px;
}

.allianceauth-opcalendar .month {
  font-size: 25px;
  background: #32394e;
}

.allianceauth-opcalendar .date {
  font-size: 16px;
  padding: 5px;
}

.allianceauth-opcalendar ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

.allianceauth-opcalendar a {
  color: #17a2b8;
}
.allianceauth-opcalendar .left {
  float: left;
}

.allianceauth-opcalendar .right {
  float: right;
}

.allianceauth-opcalendar .form {
  margin: auto;
}

.allianceauth-opcalendar .form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
  }

.allianceauth-opcalendar .legend {
  margin: 15px;
}
.allianceauth-opcalendar .legend span {
    padding: 3px 16px 3px 6px;
    cursor: pointer;
    opacity: 0.7
}

.allianceauth-opcalendar .legend span.active{
  opacity: 1;
}
