:root {
    font-size: 10px;
    --body-background: #3D4057;
    --bottom-input: #6157E5;
    --button-color: #FFB700;
    --link-color: #6259E5;
    --text-color: #686B75;
    --title-bottom: #E4E8ED;
    --title-color: #36383B;
    --error-color: #DD2C00;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--body-background);
    color: var(--text-color);
    font-family: Open Sans, sans-serif;
    font-size: 1.6rem;
}

.container {
    display: flex;
    min-height: calc(100vh - 1em);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

#content {
    align-items: center;
    background: white;
    box-shadow: 0 0 58px 10px rgba(19, 20, 27, 0.35);
    box-sizing: border-box;
    justify-content: center;
    width: 600px;
    max-width: 100%;
    padding: 1em;
}

@media (min-width: 992px) {

    #content {
        margin: auto;
        padding: 5.9em;
    }
}

#content .error {
    color: var(--error-color);
    margin: 2rem 0;
    padding: 0;
}

#content .input-line {
    margin-top: 1em;
}

#content .sib-link {
    align-self: center;
    color: var(--text-color);
    font-size: 1.4rem;
    margin-top: 0.6em;
}

#content .sib-link:hover {
    text-decoration: none;
    transition: color 0.5s;
}

.helptext {
    font-size: 15px;
    font-style: italic;
}

form.margin {
    margin-top: 2em;
}

h1,
h2 {
    text-align: center;
}

input {
    -webkit-tap-highlight-color: var(--bottom-input);
    background: #EDF1FA;
    border: 2px solid #EDF1FA;
    color: var(--text-color);
    font-size: 1.6rem;
    margin-top: 0.3em;
    padding: 0.7em 1.2em;
    width: 100%;
}

input:hover, input:active, input:focus  {
    border-bottom: 2px solid var(--bottom-input);
    outline: none;
}

input[type="submit"] {
    align-self: center;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 100em;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1.9em;
    padding: 0.55rem 2.5rem;
    text-transform: uppercase;
    transition: 0.2s;
    width: 100%;
    white-space: normal;
}

input[type="submit"]:hover {
    background-color: white;
    color: var(--button-color);
}

a {
    color: var(--link-color);
}


@media (min-width: 992px) {

    #content {
        margin: auto;
        min-width: 600px;
        padding: 5.9em;
    }

    #content .sib-link {
        align-self: flex-end;
    }

    form.margin {
        margin-top: 0;
    }

    input[type="submit"] {
        margin: 1em;
        margin-top: 1.9em;
        width: auto;
    }
}